*{
    margin: 0;
}
img{
    width: 1200px;
    height: 1200px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    /* transform: rotate(-30deg); */
    transition: 12s;
}

img:hover{
    transform: rotate(3600deg);
}
h1{
    background-color: black;
    color: white;
    font-size: 100px;
    text-align: center;
}